.footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
}

.footer-logo {
    max-width: 120px;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 1em;
    color: #777;
}